@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body {
    font-family: "Doto", sans-serif;
    background-image: linear-gradient(0, green, blue);
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 8px;
}

body {
    position: relative;
}

nav {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 22.5rem;
    background-color: #333;
    border: 5px solid #111;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    padding: 25px;
    gap: 3rem;
    border-radius: 1.5rem;
    transition: all 0.6s;
}

#switch-icon {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    padding: 2.5rem;
    background-color: #333;
    color: #eee;
    width: fit-content;
    border-radius: 1.5rem;
    border: 5px solid #eee;
    font-size: 7.5rem;
    transition: all 0.6s;
}

input {
    border-width: 5px;
    border-style: solid;
    border-radius: 1.5rem;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;
}

#first-color,
#second-color {
    width: 15rem;
    height: 7.5rem;
    border-color: #111;
}

#direction {
    width: 15rem;
    border-color: white;
    font-size: 2.75rem;
    padding: 0.75rem;
}

#direction,
#direction:active {
    outline: none;
}

.hidden {
    left: 0;
    transform: translateX(-125%);
}

#switch-icon.fa-xmark {
    background-color: #eee;
    color: #111;
    border-color: #111;
}