@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body {
    font-family: "Doto", sans-serif;
    background-image: linear-gradient(0, green, blue);
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 8px;
}

body {
    position: relative;
}

nav {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    background-color: #333;
    border: 5px solid #111;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    padding: 25px;
    gap: 3rem;
    border-radius: 1.5rem;
    transition: all 0.6s;
}

#switch-icon {
    right: 2.5rem;
    top: 2.5rem;
    position: absolute;
}

#btn,
#switch-icon,
#copy-button {
    background-color: #333;
    color: #eee;
    width: fit-content;
    height: fit-content;
    border-radius: 1.5rem;
    font-size: 7.5rem;
    transition: all 0.6s;
    padding: 2.5rem;
    border: 5px solid #eee;
    margin: 0 10px;
}

#btn,
#copy-button {
    background-color: #333;
    color: #eee;
    border-width: 5px;
}

input {
    border-width: 5px;
    border-style: solid;
    border-radius: 1.5rem;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: textfield;
}

input.swatch {
    width: 15rem;
    height: 7.5rem;
    border-color: #111;
    margin: 8px 0;
}

#direction {
    width: 15rem;
    border-color: white;
    font-size: 2.75rem;
    padding: 0.75rem;
}

#direction,
#direction:active {
    outline: none;
}

.hidden {
    left: 0;
    transform: translateX(-125%);
}

#switch-icon.fa-xmark {
    background-color: #eee;
    color: #111;
    border-color: black;
}

#btn:hover,
#copy-button:hover {
    background-color: #eee;
    color: #333;
    border-color: black;
    cursor: pointer;
}

#swatch-container {
    background-color: rgba(0, 0, 0, 0.2);
    height: fit-content;
    flex: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 5px solid #fff;
    border-radius: 15px;
}

.swatch-container {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.swatch-container i {
    font-size: 3.5rem;
    color: #eee;
    cursor: pointer;
    transition: all 0.6s;
}

.swatch-container i:hover {
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}